{% extends 'base.html' %}
{% block title %}Eliminar Post{% endblock%}
{% block content %}
    
{% if user.is_authenticated %}

    {% if user.id == post.autor.id %}

        <h1>Eliminar Post</h1>
        <h2>{{ post.titulo }}</h2>
        </br>
        <form method="post">
            <div class="mb-3">
                {% csrf_token %}
            </div>
                <button class="btn btn-secondary">Eliminar Post</button>
        </form>

        {% else %}

        Error Error Error

    {% endif %}

{% endif %}

{% endblock %}