{% extends 'base.html' %}
{% block title %}Agregar Post{% endblock%}
{% block content %}
    
{% if user.is_authenticated %}

<h1>Agregar Post</h1>
</br>
    <div class="mb-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Postear</button>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("kiki").value =
            name;
    </script>


{% else %}

¿Cómo entrastre aca?

{% endif %}

{% endblock %}